<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /><script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://tyleryasaka.github.io/semantic-ui-range/range.js"></script>


<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/entry" class="header item">
        <img class="logo" src="https://www.mdx.ac.uk/__data/assets/image/0017/141902/MU_Malta_white-text-small.png" style="width:auto; height: 2.5em;">
      </a>
      <a href={% url 'explain' %}  class="item">How it works</a>
      <a href="/entry/start" class="item">Start</a>

      
    </div>
  </div>
    <title>MdxPrivacy™ | A local differential privacy based data collection app {% block title %} {% endblock %}</title>
</head>

<h3 class="ui center aligned header"></h3>

<body style="margin: 10em 10em 0 0;height: 600px;">

    <div class="ui three column doubling stackable grid">
        <div class="column">
        </div>
        <div class="column">
          
            {% block content %}

            {% endblock %}
        </div>
        <div class="column">
        </div>
        
    </div>






      <div>

        
        <div id="footer" class="ui center aligned container">
            <p style="color:grey;padding:10em;" >Built by <a style="color:grey;cursor: pointer;" target="_blank" href="https://allentom.me">Allen Tom</a>, as partial fulfillment of the requirements for the MSc degree in BISM at Middlesex University, Malta</p>
        </div>
    
    </div>

</body>


</html>
