

{% extends "base.html" %}

{% block content %}

<div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">{{ question.text }}</div>
        <div class="meta">Select your option</div>
        <div class="description">
            <div class="ui form">                    
                    <form action = {% url 'save_response' %} method="post" class="ui form">
                        {% csrf_token %}
            
                        <!--
                        <div class="field">
                            <label>Select</label>
                            {{form.text}}
                        </div>
                        !-->
                        <div class="ui form">
                            <div class="inline fields">
                              <div class="field">
                                <div class="ui radio checkbox">
                                  <input type="radio" value="yes" name="text" checked="checked">
                                  <label>Yes</label>
                                </div>
                              </div>
                              <div class="field">
                                <div class="ui radio checkbox">
                                  <input type="radio" value="no" name="text">
                                  <label>No</label>
                                </div>
                              </div>
                            </div>
                        </div>

            
                        <div class="field" style="display:none;">
                            <label>Survey</label>
                            {{form.survey}}
                        </div>
                       
                        <button class="ui right labeled icon teal button"type="submit" value="Submit">
                        <i class="right check icon"></i>
                            Done!
                         </button>
                    </form>
             </div>


        </div>
      </div>
    </div>
</div>

<div class="ui two column stackable grid">
    <div class="column">
        
    </div>
    <div class="column">
        <div class="ui statistics">
            <div class="statistic">
              <div class="value">
                {{ accuracy.accuracy }}<span style="font-size: 40%;">%</span>
              </div>
              <div class="label">
                Accuracy
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                {{ accuracy.noise }}<span style="font-size: 40%;">%</span>
              </div>
              <div class="label">
                Noise
              </div>
            </div>

          </div>
    
    </div>
  </div>

  <div class="ui two column stackable grid">
    <div class="column">
        <!-- Slider goes here -->
    </div>
    <div class="column" style="color:#a4a4a5;">
    <p>Current epsilon (ε) is {{ accuracy.epsilon }} </p> <br>

    Differential privacy describes ε as the privacy budget value. Lower values of ε leads to better privacy of results. It represents the proportion of accurate responses to added noise entries. For example a ε of 3 has respondents answer accurately 75% of the time while 25% of the responses are noise entries added to protect privacy of the dataset (Kenny et al., 2021). 
    </div>
  </div>


{% endblock content %}