
{% extends "base.html" %}


{% block content %}
<div class="ui segment">

    <p style="color:#808080; margin:1em;">
        <b>How is the survey secure?</b>
        <br>
        
        The data collection is protected by a layer of randomness. We would never know exactly who answered what. Prior to starting the survey, we selected an accuracy value. We asked a sensitive question in the survey, there is a non-sensitive question included as well. The responses to both are either Yes/No. The accuracy value determines what proportion of users get the sensitive question. We only record the response and do not record which question you answered.
        <br> <br>

        In order to make the noise truly local, the privacy value is compared against a natural random number that is generated individually for each user from atmospheric noise (through the random.org API).  
        
        <br>        <br>
        <b>What about the survey result?</b><br>

        
        Based on final summarized statistic, the noise could be computed alongside the number of resonses using the initial accuracy level.  This statistic shows what proportion of users  might have answered Yes to the sensitive question. This means we can derive insights from the total dataset without breaching the privacy of a single individual.
        <br>        <br><br>

        <i>Wang, T., Zhao, J., Hu, Z., Yang, X., Ren, X. and Lam, K.Y., 2021. Local Differential Privacy for data collection and analysis. Neurocomputing, 426, pp.114-133.<i>
        <br><br>
        <i>Tanyer, S.G., 2014, September. True random number generation of very high goodness-of-fit and randomness qualities. In 2014 International Conference on Mathematics and Computers in Sciences and in Industry (pp. 213-215). IEEE.</i>
        </p>
</div>

{% endblock content %}
