
{% extends "base.html" %}


{% block content %}
<h1><img src="https://gitlab.com/allentom/privacyanywhere/-/raw/main/mdx/mdx_logo.png" height="50px" style="margin-right:0.25em;">MdxPrivacy™</h1>
<div class="ui divider"></div>
<h2 style="color:#c4c4c4;margin-top:0.75em;">A data collection application built using local differential privacy</h2>


{% endblock content %}
