{% extends "base.html" %}

<h1>List of Entries</h1>


{% block content %}

    {% if latest_question_list %}
    
        <ul>
        {% for question in latest_question_list %}
            <li><a href="/entry/{{ question.id }}/">{{ question.text }}</a></li>
        {% endfor %}
        </ul>

        {% else %}
        <p>No Questions are available.</p>

    {% endif %}

{% endblock content %}