

{% extends "base.html" %}

{% block content %}

<script type="text/javascript">

    jQuery(function() {
        jQuery('#show_log').on('click', function(){
            jQuery('#log_section').removeClass('hidden');
        });    
    });
    
</script>
<div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">
            Thank you! 
        </div>
        <div class="meta">
            Your information was securely processed using local differential privacy. 
        </div>
        <div class="description">

        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
            <a class="ui basic green button" href='continue/{{survey_id}}'>New Entry</a>
            <a class="ui basic blue button" href='start'>New Survey</a>
        </div>
      </div>
    </div>
</div> 

</br>

<div class="ui basic segment">
<a style="color:#a5a5a5;margin:2em;" id="show_log" href="#">
    Click to view Survey log</a>
</div>
<br>

<div style="margin-top:3em;" id="log_section" class="ui info message transition hidden">
    <div class="header">
    Done!
    </div>
    <br>
    {{log}}
  </div>

{% endblock content %}


