

{% extends "base.html" %}

{% block content %}

<div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">Design your survey</div>
        <div class="meta">How private should the entries be? <br><span style="font-size:95%;">higher accuracy means lower privacy</span></div><br>
        <div class="description">
        <form action="start" method="post" class="ui big form">
            {% csrf_token %}

            <div class="field" style="display:none;">
                <label>Epsilon (ε)</label>
                {{form.epsilon}}
            </div>

            <div class="field" style="display:none;">
                <label>Noise</label>
                {{form.noise}}
            </div>

            <!--
            <div class="field">
                <label>Accuracy</label>
                {{form.accuracy}}
            </div>
            !-->

            <div class="seven wide field">
                <label>Accuracy %</label>
                <input type="number" name="accuracy" value="80" max="100" min="0" placeholder="" required="" id="id_accuracy">
            </div>
           
            <button class="ui right labeled icon teal button"type="submit" value="Submit">
            <i class="right arrow icon"></i>
                Start
             </button>
        </form>
        </div>
      </div>
    </div>
</div>


{% endblock content %}